.terraform
.terraform.lock.hcl
.idea
__pycache__/
logs/
tmp/
build/
my_keras_model/
my_logs/
my_fashion_mnist/
*.tfrecord
*.pkl
*.mmap
*.csv
*.zip
*.tgz
*.dot
.DS_Store
.ipynb_checkpoints
target/
.env